*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}

.allProducts{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: black;
 justify-content: center;
 color: white;
 font-size: 2rem;
}

.product{
  background-color: white;
  text-align: center;
  display: block;
  width: 400px;
  padding: 20px 10px;
  border-radius: 10px;
  text-decoration: none;
  margin: 0 0.5rem;
}
.product img{
  height: 200px;
}

.product h2{
  font-size: 20px;
  margin-top: 30px;
}
.product p{
  margin-top: 1rem;
  font-size: 1.5rem;
}

.homePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePage h1{
  font-size: 5rem;
  text-align: center;
}
.cta{
  padding: 1rem 2rem;
  font-size: 1.3rem;
  border-radius: 0.7rem;
  background-color: rgb(116, 119, 116);
  color: rgb(245, 235, 235);
  cursor: pointer;
}
.singleProduct{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  gap: 1.5rem;
}

.singleProduct h2{
  font-size: 3rem;
}

.singleProduct img{
  width: 35rem;
}
.singleProduct p{
  font-size: 2rem;
}