*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sections{
  background-color: rgb(96, 96, 106);
  display: flex;
  justify-content: space-between;

}
.footer{
 display: flex;
  align-items: center;
  justify-content: space-between;
}
button{
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: gray;
  color: white;
}