* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;

}

html,
body {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.navbar .logo a {
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(163, 212, 56);
  font-weight: 600;
}

.links{
  display: flex;
  gap: 2rem;
  font-size: 1.9rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.links a{
  text-decoration: none;
}

h1{
  font-size: 8rem;
  text-align: center;
  margin-top: 12rem;
  color: rgb(156, 142, 142);
  white-space: nowrap;
}
h2{
  font-size: 7rem;
  text-align: center;
  margin-top: 2rem;
  color: rgb(156, 142, 142);
  white-space: nowrap;
}

.marquee{
  display: flex;
  flex-direction: row;
}
marquee{
  color: red;
  white-space: nowrap;
  background-color: red;
  color: black;
  font-size: 3rem;
}